//colors
$primaryDark: #22313f;
$secondaryDark: #2574a9;
$accentDark: #36d7B7;

$primaryLight: #6bb9f0;
$secondaryLight: #e4f1fe;
$secondaryAccent: #049372;

$textDark: $primaryDark;
$textLight: $secondaryDark;

//fonts
$lato: 'Lato', sans-serif !default;
